@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap');


body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    width: 1000px;
    margin: 0 auto;
}

.list-container {
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 20px 0 20px 20px;
    margin: 20px 0;
}

/* .list-wrapper {
    border: 1px solid black;
} */

.add-form {
    width: 100%;
    height: auto;
    padding: 20px 10px;
}

.add-form .input-Text {
    width: 100px;
}

.add-form input {
    width: 950px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    outline: none;
}

.input_name {
    width: 200px;
}

.input_cont {
    width: 500px;
}